pytube

subprocess
langchain
openai
ffmpeg-python
pandas==2.2.3
langchain-openai==0.3.12
openai==1.73.0
langchain==0.3.23
langchain-community==0.3.21
numexpr==2.10.2
langchain-anthropic==0.3.10
pinecone==6.0.2
streamlit
pinecone-client
torch
Pillow
requests
python-dotenv
yt-dlp
youtube-transcript-api
whisper